* {
  margin: 0;
  padding: 0;
  font-family: "popins", sans-serif;
  box-sizing: border-box;
}

.header {
  height: 100vh;
  width: 100%;
  padding: 0 8%;

  position: relative;
}
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
nav p {
  color: #fff;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 30px;
}
.nav-links {
  padding: 28px 0;
}
.nav-links li {
  display: inline-block;
  margin: 0 15px;
}
.nav-links li a {
  text-decoration: none !important;
  color: #fff !important;
  padding: 5px 0;
  position: relative;
}
.nav-links li a::after {
  content: "";
  background: #ff3d00;
  width: 0;
  height: 2px;
  position: absolute;
  bottom: 0;
  left: 0;
  transition: width 0.5s;
}
.nav-links li a:hover::after {
  width: 100%;
}
.btn {
  background: #ff3d00;
  color: #fff;
  padding: 10px 30px;
  border-radius: 3px;
  cursor: pointer;
}

.content {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 90%;
  max-width: 900px;
  transform: translate(-50%, -50%); /*content will be in the center*/
  text-align: center;
  color: #fff;
  padding-top: 50px;
}
.content h1 {
  font-size: 65px;
  font-weight: 600;
  margin-bottom: 40px;
}
.content form {
  background: #fff;
  padding: 10px;
  border-radius: 8px;
  display: flex;
}
.content form input {
  flex: 1;
  border: none;
  outline: none;
  padding: 0 20px;
  font-size: 18px;
}
.content form button {
  background: #ff3d00;
  color: #fff;
  padding: 15px 40px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}
.back-video {
  position: absolute;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
}

.about-section {
  background: url("./img/sea.jpg") no-repeat left;
  background-size: 55%;
  background-color: #fdfdfd;
  overflow: hidden;
  padding: 40px 0;
}

.inner-container {
  width: 55%;
  float: right;
  background-color: #fdfdfd;
  padding: 130px;
}

.inner-container h1 {
  margin-bottom: 30px;
  font-size: 30px;
  font-weight: 900;
}

.text {
  font-size: 13px;
  color: #545454;
  line-height: 30px;
  text-align: justify;
  margin-bottom: 40px;
}

@media screen and (max-width: 1200px) {
  .inner-container {
    padding: 80px;
  }
}

@media screen and (max-width: 1000px) {
  .about-section {
    background-size: 100%;
    padding: 100px 40px;
  }
  .inner-container {
    width: 100%;
  }
}

@media screen and (max-width: 600px) {
  .about-section {
    padding: 0;
  }
  .inner-container {
    padding: 60px;
  }
}

.toLeft {
  display: flex;
}

.card {
  display: grid;
  width: 30%;
  grid-template-rows: 210px 210px 80px;
  grid-template-areas: "image" "text" "stats";

  border-radius: 18px;
  background: white;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.9);
  font-family: roboto;
  text-align: center;

  transition: 0.5s ease;
  cursor: pointer;
  margin: 30px;
}
.card-image {
  grid-area: image;
  background: url("img/beach.jpg");
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  background-size: cover;
}

.card-text {
  grid-area: text;
  margin: 25px;
}
.card-text .date {
  color: rgb(255, 7, 110);
  font-size: 13px;
}
.card-text p {
  color: grey;
  font-size: 15px;
  font-weight: 300;
  padding-top: 0.5rem;
}
.card-text h2 {
  margin-top: 0px;
  font-size: 28px;
}
.card-stats {
  grid-area: stats;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  background: rgb(255, 7, 110);
}
.card-stats .stat {
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: white;
}
.card-stats .border {
  border-left: 1px solid rgb(172, 26, 87);
  border-right: 1px solid rgb(172, 26, 87);
}
.card-stats .value {
  font-size: 22px;
  font-weight: 500;
}
.card-stats .value sup {
  font-size: 12px;
}
.card-stats .type {
  font-size: 11px;
  font-weight: 300;
  text-transform: uppercase;
}
.card:hover {
  transform: scale(1.15);
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.6);
}

/*card2*/
.card-image.card2 {
  background: url("img/green.jpg");
  background-size: cover;
}
.card-text.card2 .date {
  color: rgb(255, 77, 7);
}
.card-stats.card2 .border {
  border-left: 1px solid rgb(185, 67, 20);
  border-right: 1px solid rgb(185, 67, 20);
}
.card-stats.card2 {
  background: rgb(255, 77, 7);
}
/*card3*/
.card-image.card3 {
  background: url("img/palm.jpg");
  background-size: cover;
}
.card-text.card3 .date {
  color: rgb(0, 189, 63);
}
.card-stats.card3 .border {
  border-left: 1px solid rgb(14, 122, 50);
  border-right: 1px solid rgb(14, 122, 50);
}
.card-stats.card3 {
  background: rgb(0, 189, 63);
}

.heading {
  padding-bottom: 2rem;
  padding-top: 2rem;
  text-align: center;
  font-size: 2.5rem;
  color: var(--black);
  display: block;
}

.heading span {
  position: relative;
  z-index: 0;
}

.heading span::before {
  content: "";
  position: absolute;
  bottom: 1rem;
  left: 0;
  height: 100%;
  width: 100%;
  background: var(--light-yellow);
  z-index: -1;
  clip-path: polygon(0 90%, 100% 80%, 100% 100%, 0% 100%);
}
